@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<RadzenBody MouseEnter="MouseEnterEvent" MouseLeave="MouseExitEvent">

    <p role="status">Current count: @CurrentCount</p>

    <RadzenSlider Min="1" Max="10" Name="Step Size" Step="1" @bind-Value="StepCount"></RadzenSlider>
    <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
    <RadzenBadge BadgeStyle="BadgeStyle.Primary" Text="@BadgeText"></RadzenBadge>
    
</RadzenBody>

@code {
    private int CurrentCount = 0;
    private int StepCount = 1;

    private string BadgeText = "no mouse events yet";

    private void IncrementCount()
    {
        CurrentCount+=StepCount;
    }

    private void MouseEnterEvent()
    {
        BadgeText = "Mouse is in the card.";
    }

    private void MouseExitEvent()
    {
        BadgeText = "Mouse is outside of the card.";
    }

}